aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
black==21.10b0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
discord==1.7.3
discord.py==1.7.3
idna==3.3
multidict==5.2.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
PyYAML==6.0
regex==2021.11.2
tomli==1.2.2
typing-extensions==3.10.0.2
yarl==1.7.2
